---
layout: default
---
<!-- main content goes here -->
<ul id="posts-list" class="medium-block-grid-2 xlarge-block-grid-3 ">
    {% for post in site.posts limit: 8 %}
    <li id="{{ forloop.index0 }}">
        <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="posts-list-container">
                {% if post.fimg %}
                <img class="posts-list-img text-swipe" src="images/{{post.fimg}}">
                {% else %}
                <img class="posts-list-img text-swipe" src="http://lorempixel.com/1280/860/nature">
                {% endif %}
                <div class="post-thumbnail-title">
                    <h3>
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </h3>
                    <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</span>
                </div>
                <div class="overlay"></div>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
<button id="loadMore" onclick="articleManager.loadMoreArticle()">La suite</button>
<div class="infinite-spinner"></div>







