<!-- Off Canvas Menu -->
<nav id="menu">
    <!-- whatever you want goes here -->
    <a href="#menu" class="menu-link"></a>
    <ul>
        {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        <li><a href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Accueil</a></li>
        <li><a href="#"><i class="fa fa-amazon fa-fw"></i>&nbsp; Sponsor</a></li>
        <li><a href="#"><i class="fa fa-rss fa-fw"></i>&nbsp; RSS</a></li>
        <li><a href="#"><i class="fa fa-flickr fa-fw"></i>&nbsp; Flickr</a></li>
        <li><a href="#"><i class="fa fa-facebook fa-fw"></i>&nbsp; Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter fa-fw"></i>&nbsp; Twitter</a></li>
        <li><a href=""><i class="fa fa-archive fa-1x"></i></a></li>
        <li><a href=""><i class="fa fa-search fa-2x"></i></a></li>
        <li><a href=""><i class="fa fa-info-circle fa-2x"></i></a></li>
    </ul>
</nav>