<!-- Off Canvas Menu -->
<nav id="menu">
    <!-- whatever you want goes here -->
    <ul style="text-transform:uppercase; text-align:center;">
        <li><gcse:search></gcse:search></li>
        <li style="border-bottom: 1px solid white; margin-bottom:1em;"><a href="#">Accueil</a></li>
        <li><a href="{{ site.baseurl }}/archives/">Archives</a></li>
        <li><a onclick="articleManager.showRandomArticle()" href="#">Au hasard</a></li>
        <li><a href="{{ site.rsslink }}">RSS</a></li>
        <li><a href="{{ site.baseurl }}/about/">À Propos</a></li>
        <li style="border-bottom: 1px solid white;margin-top: 1em;margin-bottom:1em;"></li>
        <li class="show-for-small"><a href="{{ site.amazon_url }}"><i class="fa fa-amazon fa-fw"></i>&nbsp; Sponsor</a></li>
        <li style="position: absolute; bottom: 0;" class="row show-for-small">
            <div class="columns small-3"><a href="{{ site.data.author['iSebmo'].facebook_url }}"><i class="fa fa-facebook"></i></a></div>
            <div class="columns small-3"><a href="{{ site.data.author['iSebmo'].twitter_url }}"><i class="fa fa-twitter"></i></a></div>
            <div class="columns small-3"><a href="{{ site.data.author['iSebmo'].gplus_url }}"><i class="fa fa-google-plus"></i></a></div>
            <div class="columns small-3"><a href="{{ site.data.author['iSebmo'].flickr_url }}"><i class="fa fa-flickr"></i></a></div>
        </li>
    </ul>

</nav>
