<header>

    <div class="fixed">
        <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{{ site.baseurl }}/"><i class="fa fa-hand-o-right fa-fw"></i>&nbsp;{{ site.title }}</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-link "><a class="right-off-canvas-toggle" href="#"><i class="fa fa-bars"></i></a>
                </li>
            </ul>

            <section class="hidden-for-small top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-rss fa-fw"></i></a></li>
                    <li class="divider"></li>
                    <li><a href=""><i class="fa fa-search fa-1x"></i></a></li>
                    <li class="fa-transition-content"><a href=""><i class="fa fa-info-circle fa-1x"></i></a></li>
                    <li class="fa-transition-content"><a href=""><i class="fa fa-archive fa-1x"></i></a></li>
                    <li class="divider"></li>
                    <li><a class="menu-link" href="#"><i class="fa fa-bars fa-2x"></i></a></li>

                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="divider"></li>
                    <li class="fa-transition-content"><a href="#"><i class="fa fa-amazon fa-fw"></i>&nbsp; Sponsor</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-twitter fa-fw"></i>&nbsp;</a></li>
                    <li><a href="#"><i class="fa fa-facebook fa-fw"></i>&nbsp;</a></li>
                    <li><a href="#"><i class="fa fa-google-plus fa-fw"></i>&nbsp;</a></li>
                    <li><a href="#"><i class="fa fa-flickr fa-fw"></i>&nbsp;</a></li>
                </ul>

            </section>
        </nav>
    </div>


</header>
