<header class="post-header row small-collapse">
    <div class="medium-12 columns">
        {% if page.fimg %}
            <img src="{{ site.img }}{{ page.fimg }}">
        {% else %}
            <img src="http://lorempixel.com/1280/960/nature">
        {% endif %}
        {% if page.fimg.credits %}
            <span style="position: absolute; bottom: 0.5em; right: 0.5em; color: grey; font-size: small">photo de <a
                    style="font-size: small; color: grey" href="{{ page.fimg.credits.url }}">{{ page.fimg.credits.author }}</a></span>
        {% endif %}
    </div>
</header>