.top-bar-section > ul > li > a > i {
  vertical-align: middle;
}

@mixin fa-XXX-hover-after() {
  position: relative;
  top: 0px;
  transition: all 0.5s;
}

@mixin fa-XXX-after() {
  position: absolute;
  top: -14px;
}

.top-bar-section {
  .fa-archive:after {
    content: "  archives";
    @include fa-XXX-after;
  }


  .fa-transition-content:hover {
    .fa-archive:after {
      @include fa-XXX-hover-after;
    }

  }

  .fa-info-circle:after {
    content: "  à propos";
    @include fa-XXX-after;
  }


  .fa-transition-content:hover {
    .fa-info-circle:after {
      @include fa-XXX-hover-after;
    }

  }

}

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  //width: 13.755em;
  right: -13.755em;
  left: 0;
  height: 100%;
  transform: translate(0px, 0px);
  transition: 0.50s ease;
  list-style: inherit;
  background-color: $bg-container;

  li {
    list-style-type: none;
  }

  li:hover {

  }

  ul {
    display: block;
    width: 11em;
    top: calc(15% + #{$topbar-height});
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: $h4-font-size;
    padding-right: 1em;

    @media only screen and (max-width: $small-breakpoint) {
      width: 8em;
    }

    @media only screen and (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
      width: 8em;
    }
  }

  &.active {
    transform: translate(-13.755em, 0px);
  }
}

.top-bar {
  border-bottom: 2px solid white;
  height: 2.96em;

  .top-bar-section ul li > a {
    border-bottom: 2px solid white;
  }
}

