
.post-header {
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0);

  img {
    width: 100%;
  }
}

#disqus_thread {
  margin: 2em;
}

article header {
  margin-top: 1em;
}

.post-content {
  margin: 1em 3em;

  img {
    //Gestion image full width
    max-width: none;
  }

  @media only screen and (max-width: $medium-breakpoint) {
    margin: 1em 1em;
    img {
      //Gestion image full width
      margin: 0 -1em;
      width: calc(100% + 2em);
    }
  }

  @media only screen and (min-width: $medium-breakpoint) {
    margin: 1em 8em;
    img {
      //Gestion image full width
      margin: 0 -8em;
      width: calc(100% + 16em);
    }
  }
}

.post-meta {
  color: scale_color($oil, $lightness: 50%);
}

.post-readtime {
  color: $oil;
  .eta {
    display: inline;
  }
}

.post-content-container {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  background: white;
  margin-top: 1em;

  padding: 0;

  @mixin bgInverse($bg, $c){
    background-color: $bg;
    color: $c;
    transform: scale(1.5) rotate(360deg);
    padding: 0.2em;
    border-radius: 50%;
  }

  .fa-facebook {
    color: #3b5998;
    transition: .7s cubic-bezier(0, 1.01, 0.59, 1.16);
    &:hover {
      @include bgInverse(#3b5998, white);
      padding: 0.2em 0.4em;
    }
  }

  .fa-twitter {
    color: #55acee;
    transition: .7s cubic-bezier(0, 1.01, 0.59, 1.16);
    &:hover {
      @include bgInverse(#55acee, white);
    }
  }

  .fa-google-plus {
    color: #D84B37;
    transition: .7s cubic-bezier(0, 1.01, 0.59, 1.16);
    &:hover {
      @include bgInverse(#D84B37, white);
    }
  }

  .post-title {
    text-transform: uppercase;
  }

  .post-text-category {
    color: $primary-color;
    margin: 1em 0 2em 0;
  }

  .author-bio-container {

    p {
      line-height: 1.3em;
    }

    h4 {
      line-height: 1;
    }

    .avatar {
      border-radius: 50%;
      border: 3px solid $info-color;
    }

    .hr-text-center {
      margin: 0em 0 0.25em 0;
    }
  }
}

.post {
  .page {
    h2 {
      @extend .note;
    }
  }
}

.note {

  @mixin note-icon($charcode) {
    font-family: FontAwesome;
    content: $charcode;
    position: absolute;
    top: 0.03em;
    left: 1.5em;
    font-size: 28px;
  }

  margin: 30px 0;
  margin-left: -0.65em;
  margin-right: -0.30em;
  padding: 10px 10px 10px;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: darkgrey;
  background-image: linear-gradient(to bottom, scale-color($info-color, $lightness: 15%) 0, $info-color 100%);
  text-transform: uppercase;
  color: $oil;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent scale-color($info-color, $lightness: -35%) scale-color($info-color, $lightness: -35%) transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
  }

  &.category {
    &:after {
      @include note-icon("\f02c");
    }
  }

}

