// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #c7c7c7; // body background color

$color-1: #303e49; // blue dark
$color-2: rgba(248, 90, 38, 1); // red
$color-3: #f1f1f1; // white
$color-4: #add268; // green
$color-5: #f09bec; // yellow
$color-6: rgba(37, 155, 210, 1); // yellow
$color-7: rgba(230, 240, 93, 1); // yellow
$color-8: #95a1ac; // yellow

// fonts 

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;