---
layout: page
title: Archives
permalink: /archives/
---


<section style="margin: 1em -7em" id="cd-timeline" class="cd-container">
    {% for post in site.posts %}
    <div class="cd-timeline-block">
        {% for cat in post.categories %}
        {% if cat contains 'sport' %}
        <div class="cd-timeline-img cd-sport">
            <img src="/images/timeline/iconmonstr-favorite-3-icon.svg" alt="Picture">
        </div>{% break %}
        {% elsif cat contains 'geek' %}
        <div class="cd-timeline-img cd-geek">
            <img src="/images/timeline/iconmonstr-smiley-geek-icon.svg" alt="Picture">
        </div>{% break %}
        {% elsif cat contains 'applications' %}
        <div class="cd-timeline-img cd-applications">
            <img src="/images/timeline/iconmonstr-cube-icon.svg" alt="Picture">
        </div>{% break %}
        {% elsif cat contains 'hightech' %}
        <div class="cd-timeline-img cd-hightech">
            <img src="/images/timeline/iconmonstr-smartphone-4-icon.svg" alt="Picture">
        </div>{% break %}
        {% elsif cat contains 'musique' %}
        <div class="cd-timeline-img cd-music">
            <img src="/images/timeline/iconmonstr-disc-5-icon.svg" alt="Picture">
        </div>{% break %}
        {% endif %}
        {% endfor %}

        <div class="cd-timeline-content">
            <h2>{{ post.title }}</h2>
            <a href="{{ site.baseurl }}{{ post.url }}" class="cd-read-more">Lire l'article</a>
            <span class="cd-date">{{ post.date | date: "%d/%m/%Y" }}</span>
        </div>
    </div>
    {% endfor %}

</section> <!-- cd-timeline -->



