---
layout: default
---

<div class="post page">

    {% include post-header.html %}

    <article class="row">
        <div class="large-8 large-offset-2 medium-10 medium-offset-1 columns post-content-container">
            <header class="text-center">
                <h1 class="post-title">{{ page.title }}</h1>
                <div class="note"></div>
            </header>
            <div class="text-justify post-content">{{ content }}</div>
        </div>
    </article>
</div>
<div class="ribbon-wrapper-green">
    <div class="ribbon-green">Bêta</div>
</div>

