---
layout: default
---
<div class="post">

    <header class="post-header">
        <div class="row small-collapse">
            <div class="medium-12 columns">
                {% if page.fimg %}
                <img style="width: 100%" src="{{ site.baseurl }}/images/{{page.fimg}}">
                {% endif %}
            </div>
        </div>
    </header>

    <article class="post-content">
        <div style="margin-bottom: 2em;" class="row">
            <div class="medium-8 medium-offset-2 columns text-center">
                <h1 class="post-title">{{ page.title }}</h1>

                <p class="post-meta">{{ page.date | date: "%d/%m/%Y" }}</p>
                <span><i class="fa fa-clock-o fa-fw">&nbsp;</i><div style="display: inline" class="eta"></div>{{ site.data.lang['postReadingTimeLabel'] }}</span>
                <span class="hr-text-center post-text-category"><i class="fa fa-tag"></i>&nbsp;Sport</span>
            </div>
        </div>

        <div class="row">
            <div class="content-post medium-8 columns small-centered text-justify">
                <span>{{ content }}</span>
                <span class="hr-text-center">Auteur</span>
            </div>
            <div id="author-bio" class="small-8 medium-4 small-centered columns text-center">
                <img alt=""
                     src="http://1.gravatar.com/avatar/3d7188c8a0ece7220484b68f722da404?s=80&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G"
                     height="80" width="80">
                <h3><div></div> iSebmo</h3>
                <p>Tu Fin digniss, non sodales mauris molestie nec. Donec a nis ligula facilisis dignissim rutrum in mi. eu laoreet risus eleifend vel. Nullam imperdiet tincidunt. Aliquame erat volutpat.</p>
            </div>
        </div>

    </article>

    <footer>
        <div class="row small-collapse small-centered">
            <hr>
            <div class="medium-12 columns">

            </div>
        </div>
    </footer>
</div>
