---
layout: default
---
<div class="post">

    <header class="post-header row small-collapse">
        <div class="medium-12 columns">
            {% if page.fimg %}
            <img src="{{ site.baseurl }}/images/{{page.fimg}}">
            {% endif %}
        </div>
    </header>

    <article class="post-content-row row">
        <div class="large-8 large-offset-2 medium-10 medium-offset-1 columns post-content-container">
            <div class="text-center">
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="post-meta">{{ page.date | date: "%d/%m/%Y" }}</p>
                <span><i class="fa fa-clock-o fa-fw">&nbsp;</i><div style="display: inline" class="eta"></div>{{ site.data.lang['postReadingTimeLabel'] }}</span>
                <span class="hr-text-center post-text-category"><i class="fa fa-tag"></i>&nbsp;{% for cat in page.categories %}{{ cat }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
            </div>
            <span class="text-justify post-content">{{ content }}</span>

            <div class="author-bio-container row">
                <span class="hr-text-center">Auteur</span>

                <div id="author-bio" class=" medium-6 medium-offset-3 small-10 small-offset-1 columns text-center">
                    <img alt=""
                            src="http://1.gravatar.com/avatar/3d7188c8a0ece7220484b68f722da404?s=80&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D80&amp;r=G"
                            height="80" width="80">

                    <h3>
                        <div></div>
                        {{ site.data.author[page.author].nickname }}
                    </h3>
                    <p>{{ site.data.author[page.author].bio }}</p>
                </div>
            </div>

        </div>
    </article>

    <footer>
        <div class="row small-collapse small-centered">
            <hr>
            <div class="medium-12 columns">

            </div>
        </div>
    </footer>
</div>
